.all-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.form-wrapper {
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  width: 485px;
  min-width: 485px;
}
.form-page-two {
  padding-top: 50px;
}
.form-title {
  color: rgb(78, 75, 102);
  font-weight: 600;
  font-size: 36px;
  margin-top: 60px;
}
.form-subtitle {
  color: rgb(78, 75, 102);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 50px;
}
.form-input-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-error-line {
  margin-top: -30px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 40px;
  min-height: 40px;
  width: 100%;
}
.form-error-line span {
  color: rgb(255, 0, 0);
  font-size: 12px;
  font-weight: 600;
}

.phone-code-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.phone-code {
  width: 45px;
  margin-right: -45px;
  padding-left: 22px;
  z-index: 2;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(78, 75, 102);
  font-size: 12px;
  font-weight: 600;
}
.phone-code-input {
  height: 55px;
  min-height: 55px;
  width: 100%;
  padding: 0px 22px;
  color: rgb(78, 75, 102);
  font-size: 12px;
  font-weight: 600;
  border: 1px solid rgba(151, 151, 151, 0.3);
  border-radius: 5px;
  outline-color: rgba(46, 197, 206, 0.6);
  outline-width: 0.5px;
  padding-left: 50px;
}

.form-agreement-text {
  margin-bottom: 10px;
}
.form-agreement-text span {
  font-weight: 500;
  font-size: 12px;
  color: rgba(78, 75, 102, 1);
}
.form-agreement-text a {
  font-weight: 500;
  font-size: 12px;
  color: rgba(46, 197, 206, 1);
  margin-left: 5px;
  text-decoration: none;
}
.form-agreement-text a:hover {
  text-decoration: underline;
}
.form-login-link {
  display: flex;
  align-items: center;
}
.form-login-link span {
  font-weight: 700;
  font-size: 12px;
  color: rgb(78, 75, 102, 1);
}
.form-login-link a {
  font-weight: 500;
  font-size: 12px;
  color: rgb(46, 197, 206, 1);
  font-weight: 500;
  margin-left: 20px;
  text-decoration: none;
}
.form-login-link a:hover {
  text-decoration: underline;
}

.content-wrapper {
  flex: 1;
  background-color: rgb(225, 246, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.content-wrapper span {
  color: rgb(78, 75, 102);
  font-weight: 700;
  font-size: 30px;
  width: 400px;
  white-space: initial;
  text-align: center;
}
