extends ./head
block content
  .admin-all-wrapper
    .admin-left-side-header
      span.admin-header-title Sayfalar:
      .admin-each-header-button
        a(href="/admin/countries") Ülkeler
    .admin-all-content
      block main
