extends ./head
block content
  .admin-all-wrapper
    .admin-left-side-header
      span.admin-header-title Sayfalar:
      .admin-each-header-button
        a(href="/admin/companies") Åirketler
      .admin-each-header-button
        a(href="/admin/countries") Ãœlkeler
      .admin-each-header-button
        a(href="/admin/targets") Bekleyen Projeler
    .admin-all-content
      block main
