extends ./head
block content
  .all-wrapper
    .all-header-wrapper
      a.general-logo-wrapper(href="/projects")
        img(src="/res/images/logo.png" alt="usersmagic app")
      //- a.general-settings-button(href="/settings")
      //-   i.fas.fa-cog
    .all-content-wrapper
      block main
