extends ./head
block content
  .all-wrapper
    .all-header-wrapper
      a.all-header-logo-wrapper(href="/projects")
        img(src="/res/images/logo.png" alt="usersmagic app")
        span beta
      a.general-settings-button(href="/settings")
        i.fas.fa-cog
    .all-content-wrapper
      block main
