extends ./head
block content
  .all-wrapper
    .all-header-wrapper
      a.general-logo-wrapper(href="/projects")
        img(src="/res/images/logo.png" alt="usersmagic app")
    .all-content-wrapper
      block main
