extends ../../partials/admin
block main
  .all-content-header
    .title-wrapper
      span.title Başvurular
      span.subtitle Bu sayfadan yarattığınız ülkeleri görebilir ve yeni ülkeler yaratabilirsiniz.
    .new-country-button
      span +
  .all-content-inner-wrapper
    .countries-wrapper
      each country in countries 
        a.each-country(href=`/admin/countries/details?id=${country._id}`)
          span.country-name= country.name
          span.country-code (#{country.alpha2_code})
  form.new-form-wrapper(action="/admin/countries" method="POST")
    .form-inner-wrapper
      span.form-title Yeni Bir Ülke Ekle
      span.form-subtitle Ülke İsmi: *
      span.form-info Ülkenin ingilizce ismi, lütfen büyük küçük harf dikkat ederek girin.
      input.form-input(type="text" placeholder="ör: Turkey" name="name" required)
      span.form-subtitle Ülke ISO Kodu: *
      span.form-info Lütfen ülkenin iki harfli alpha-2 kodunu KÜÇÜK HARF olarak girin. ISO kodlarına bu linkten bakabilirsiniz. https://www.iban.com/country-codes
      input.form-input(type="text" placeholder="ör: tr" name="alpha2_code" required)
      .buttons-wrapper
        .back-button Geri
        button.form-button Oluştur
