extends ../../partials/head
block content
  .general-beta-text beta version 1.0.0
  .all-wrapper
    .form-wrapper
      a.general-logo-wrapper(href="/")
        img(src="/res/images/logo.png" alt="usersmagic app")
        span usersmagic
      span.form-title Admin Account
      span.form-subtitle Enter the admin password to login admin page
      form.form-input-wrapper(action="/admin/auth" method="POST")
        span.general-input-title Password
        input.general-input-with-border(type="password" name="password" required="true" placeholder="••••••••")
        button.general-seablue-button
          span Log in
    .content-wrapper
