.admin-all-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-all-content span {
  margin: 10px 20px;
  text-align: center;
  white-space: initial !important;
}
