extends ../../partials/admin
block main
  .all-content-header
    .title-wrapper
      span.title Özel Projeler
      span.subtitle Bu sayfadan yaratılan projeleri görebilir ve onlara onay verebilirsiniz. 
  .all-content-inner-wrapper
    .targets-wrapper
      each target in targets 
        a.each-target(href=`/admin/targets/details?id=${target._id.toString()}`)
          span.target-info= target.name
